info:
  title: 'Gloo Gateway Portal IDP Connect API'
  version: 1.0.0
  description: Before you begin, set up Gloo Gateway Portal with your OpenID Connect (OIDC) provider. Then with this IDP Connect API, you can manage the clients and API Products in your OIDC provider that get associated with your Portal applications. For more information, see the [Gloo Gateway Portal docs](https://docs.solo.io/gloo-portal/latest/).
openapi: 3.0.0
servers:
  - url: https://api.gloo-platform-portal.com/v1
paths:
  /applications:
    post:
      description: Creates an application of type oauth2. This is intended to be integrated with an Open Id Connect Provider that the IDP Connect implementation integrates with. Note that the `clientSecret` is never stored in the database and is shown to the user only once. Keep this secret to make future requests to the API products in the Portal.
      operationId: CreateOAuthApplication
      requestBody:
        description: (Required) Unique identifier for creating client.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  example: "a0897e6d0ea94f589c38278bca4e9342"
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthApplication'
          description: Successfully created client.
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unexpected error creating client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Creates an application of type oauth2.
      tags:
        - Applications
  /applications/{id}:
    delete:
      description: Delete an oauth2 application.
      operationId: DeleteOAuthApplication
      parameters:
        - in: path
          name: "id"
          required: true
          description: (Required) ID for application to delete.
          schema:
            type: string
      responses:
        '204':
          description: Successfully deleted application.
        '404':
          description: Application not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unexpected error deleting application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Deletes an application in the OpenID Connect Provider.
      tags:
        - Applications
components:
  schemas:
    OAuthApplication:
      required:
        - clientId
        - clientSecret
      properties:
        clientId:
          type: string
          example: a0897e6d0ea94f589c38278bca4e9342
        clientSecret:
          type: string
          example: c94dbd582d594e8aa04934f9c7ef0f52
        clientName:
          type: string
          example: "example-user-pool-developer-1"
    Error:
      required:
        - code
        - message
        - reason
      properties:
        code:
          type: integer
        message:
          type: string
          example: "Status Code Message"
        reason:
          type: string
          example: "Error reason"
